/*----------------Reset-------------*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
    border: none;
}
/*-----------------------------*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}
/*-----------------------------*/
.wrapper {
    min-height: 100%;
    overflow: clip;
}
/*-----------------------------*/
.page {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;

    padding-top: 10vh;
    padding-bottom: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
/*-----------------------------*/

.slider {
    overflow: hidden;
    flex: 1 1 auto;
}
.slider__wrapper {
    display: flex;
}
.slider__slide {
    flex-shrink: 0;
}
.slide {
}

.slide__body {
    width: 60vh;
    margin: 0 auto;
    max-width: 90vw;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
}
.slide__image {
    padding-bottom: 120%;
    position: relative;
    cursor: pointer;
}
.slide__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.slider__scrollbar {
    position: absolute;
    width: 100%;
    height: 0.3125rem;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.slider__scrollbar:hover,
.slider__scrollbar:active {
    opacity: 0.8;
    height: 0.9375rem;
}
.slider__scrollbar .swipper-scrollba-drag {
    opacity: 1;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}
/*-----------------------------*/
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.background__wrapper {
    min-height: 100%;
    display: flex;
}
.background__slide {
    min-height: 100%;
    flex-shrink: 0;
    position: relative;
}
.background__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.background__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}